/* Reset some default browser styles */

body {
    font-family: 'Arial', sans-serif;
    /* Utilise la police de caractères Arial ou une police générique sans sérif si Arial n'est pas disponible */
    margin: 0;
    /* Supprime la marge par défaut du corps du document */
    padding: 0;
    /* Supprime le rembourrage par défaut du corps du document */
}


/* Style the header */

header {
    background-color: #333;
    /* Définir la couleur de fond du header */
    color: #fff;
    /* Définir la couleur du texte du header */
    text-align: center;
    /* Centrer le texte à l'intérieur du header */
    padding: 10px;
    /* Ajouter du rembourrage au header */
}


/* Style the navigation menu */

nav ul {
    list-style-type: none;
    /* Supprime les puces de la liste */
    margin: 0;
    /* Supprime la marge par défaut de la liste */
    padding: 0;
    /* Supprime le rembourrage par défaut de la liste */
}

nav ul li {
    display: inline;
    /* Affiche les éléments de la liste en ligne plutôt que les uns en dessous des autres */
    margin-right: 20px;
    /* Ajouter une marge à droite entre les éléments de la liste */
}

nav a {
    text-decoration: none;
    /* Supprime la soulignement des liens */
    color: #fff;
    /* Définir la couleur du texte des liens */
    font-weight: bold;
    /* Mettre en gras le texte des liens */
}


/* Style the main content section */

section {
    padding: 20px;
    /* Ajouter du rembourrage à la section principale */
}


/* Style the footer */

footer {
    background-color: #333;
    /* Définir la couleur de fond du footer */
    color: #fff;
    /* Définir la couleur du texte du footer */
    text-align: center;
    /* Centrer le texte à l'intérieur du footer */
    padding: 10px;
    /* Ajouter du rembourrage au footer */
    position: fixed;
    /* Fixer le footer en bas de la fenêtre même lors du défilement */
    bottom: 0;
    /* Aligner le footer en bas de la fenêtre */
    width: 100%;
    /* Occuper la largeur complète de la fenêtre */
}